<div class="header">

<header>
  
  <nav class="navbar1" >
    <ul>
      <li><a class="nav-link" routerLink="login-screen">Iniciar sesión</a></li>
      <li><a class="nav-link" routerLink="add-client">Agregar Colaborador</a></li>
      <li><a class="nav-link" routerLink="mantenimiento/0">Mantenimiento</a></li>
      <li><a class="nav-link" routerLink="clientes-actuales">Base datos de colaboradores</a></li>
    </ul>
  </nav>

</header>

<div class="container">
  
  <router-outlet></router-outlet>
</div>

